{% extends 'base.html.twig' %}

{% block body %}
    <h1>Affichage du Jeu : {{ jeu.nom }}</h1>

    <table>
        <!-- Affichage du type de jeu -->
        <tr>
            <th>Type</th>
            <td>{{ attributs.type }}</td>
        </tr>

        <!-- Affichage du nombre de participants -->
        <tr>
            <th>Participants</th>
            <td>{{ jeu.nbParticipant }}</td>
        </tr>

        <!-- Affichage des autres attributs dynamiquement -->
        {% for key, value in attributs %}
            {% if key != 'type' %}  {# On évite d'afficher le 'type' encore une fois #}
                <tr>
                    <th>{{ key|capitalize }}</th>
                    <td>{{ value }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}
